@theme {
  --color-*: initial;

  --color-white: #fff;
  --color-black: #000;

  {{#palette}}
  {{#light}}
  --color-{{colorName}}-{{shadeName}}: var(--{{colorName}}-{{shadeName}});
  {{/light}}
  {{/palette}}
}
