declare namespace _default {
  let inherit: string;
  let current: string;
  let transparent: string;
  let black: string;
  let white: string;

  {{#palette}}
  let {{colorKey}}: {
    {{#light}}	
    {{shadeName}}: string;
    '{{shadeName}}-foreground': string;
    {{/light}}
  };
  {{/palette}}
}
export default _default;
