@import '../css/index.css';

@theme {
  --color-*: initial;

  --color-white: #fff;
  --color-black: #000;

  {{#palette}}
  {{#light}}
  --color-{{colorKey}}-{{shadeName}}: var(--{{colorKey}}-{{shadeName}});
  {{/light}}
  {{/palette}}
}
