export default {
  {{#palette}}
  {{colorName}}: {
    dark: {
      {{#dark}}	
      shade{{shadeName}}: "{{oklch}}",
      {{/dark}}
    },
    light: {
      {{#light}}	
      shade{{shadeName}}: "{{oklch}}",
      {{/light}}
    }
  },
  {{/palette}}
};
