declare namespace _default {
  {{#palette}}
  let {{colorName}}: {
    dark: {
      {{#dark}}	
      shade{{shadeName}}: string;
      {{/dark}}
    },
    light: {
      {{#light}}	
      shade{{shadeName}}: string;
      {{/light}}
    }
  };
  {{/palette}}
}
export default _default;
