"use strict";
module.exports = {
  {{#palette}}
  {{colorName}}: {
    dark: {
      {{#dark}}
        shade{{shadeName}}: "{{oklch}}",
      {{/dark}}
    },
    light: {
      {{#light}}
        shade{{shadeName}}: "{{oklch}}",
      {{/light}}
    }
  },
  {{/palette}}
};
Object.defineProperty(exports, "__esModule", { value: true });
