:root, .light, .light-theme {
  {{#light}}
  --{{colorName}}-{{shadeName}}: {{srgb}};
  {{/light}}
}

.dark, .dark-theme {
  {{#dark}}
  --{{colorName}}-{{shadeName}}: {{srgb}};
  {{/dark}}
}

@supports (color: oklch(0% 0 0)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      {{#light}}	
      --{{colorName}}-{{shadeName}}: {{oklch}};
      {{/light}}
    }
    .dark, .dark-theme {
      {{#dark}}	
      --{{colorName}}-{{shadeName}}: {{oklch}};
      {{/dark}}
    }
  }
}
